include LICENSE
include THIRD_PARTY_NOTICES.md
include gwm_ora_client/README.md
include gwm_ora_client/py.typed
exclude README.md
recursive-include gwm_ora_client *.py
prune addons
prune custom_components
prune docs
prune tests
